<header class="site-header">
  <h1 class="site-title">
    <ruby>藍<rt>Nâ</rt></ruby><ruby>永倫<rt>íng-lûn</rt></ruby>ê<ruby>故事<rt>kòo-sū</rt></ruby>
  </h1>
  <section>目前正學習如何當一對兒女的爸爸。</section>
  <section>曾和朋友一起開過公司，上過雜誌，擔任 iPlayground 的 keynote speaker，加入過新創，玩過程式比賽，寫過在某族群間還算有名的工具軟體，服過兵役，念過大學，和朋友一起創立台灣城市單車聯盟，舉辦過沈默騎行、台北裸騎，擔任單車通勤日站長，單車臨界量常客，考過台語認證中高級，兩發各抽中一番賞A、B獎，帶環義冠軍搭捷運⋯⋯。有機會想把這些故事寫下來。</section>
  <section>最近的興趣是腳踏車、寫程式、學<ruby>台語<rt>tâi-gì</rt></ruby>。</section>
</header>
