---
import SoftwareLayout from "../../layouts/SoftwareLayout.astro";
---

<SoftwareLayout
  title="Software"
  description="yllan 寫的 Mac OS 9 軟體"
  canonicalPath="/software/"
  filename="Read Me.txt"
>
  <p>這裡放的是我寫的 Mac OS 9 軟體。</p>
  <ul class="software-list">
  </ul>
</SoftwareLayout>
