---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Launcher from "../../components/Launcher.astro";
import { site } from "../../lib/site";
---

<BaseLayout
  title={`Software | ${site.title}`}
  description="yllan's Mac OS 9 software"
  canonicalPath="/software/"
>
  <div class="mac-desktop">
    <Launcher />
    <div id="detail-host"></div>
  </div>
</BaseLayout>
